/* ====Updated CSS==== */
body {
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

/* ====Table of Contents==== */
/* ====0. additional tei Styles==== */
/* ====1. FRUS Document div Styles==== */
/* ====2. FRUS Paragraph Styles==== */
/* ====3. FRUS Footnote Styles ==== */
/* ====4. FRUS List & Index Styles ==== */
/* ====5. Bibliography Styles ==== */
/* ====6. Tables ==== */
/* ====7. Links ==== */

/* ====0. additional tei Styles==== */
p.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p.h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p.h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p.h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p.h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p.h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* additional styles for tei specific classes */
.strong {
    font-weight: bold;
}to
section[epub\:type="footnotes"], /*TODO: not working!!*/
body > section:last-of-type {
    margin-top: 1em;
    padding-top: 1em;
    counter-reset: footnotes;
}
section[epub\:type="footnotes"] > aside, /*TODO: not working!!*/
body > section:last-of-type > aside {
    display: list-item;
    counter-increment: footnotes;
}
section[epub\:type="footnotes"] > aside:before, /*TODO: not working!!*/
body > section:last-of-type > aside:before {
    content: counter(footnotes) " ";
    display: inline;
    vertical-align: super;
    font-size: smaller;
    line-height: 0em;
}
.pagebreak.tei-pb {
    display: none;
    page-break-after: always;
}
div.tei-opener {
    text-align: end;
}
a.noteref {
    vertical-align: top;
    font-size: 80%;
    position: relative;
    top: -0.3em;
}
div.tei-dateline {
    float: right;
}
div.tei-opener div.tei-dateline {
    float: none;
}
span.tei-milestone {
    display: block;
    background: #ddd;
    color: #ddd;
    clear: both;
    float: none;
    width: 100%;
    height: .1em;
    margin: 0 0 1.45em;
    border: none;
}
span[class^="tei-figure"] {
    display: block;
}
h1.compilation-title {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-size: 3em;
}
h1.chapter-title {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 2.34em;
}
h1.front-title {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
p.xhtml-h5 {
    font-size: 0.83em;
    font-weight: bold;
}
a.ref-title {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
/* ====1. FRUS Document div Styles==== */
/* For ePubs, we use each device's default for divs */

/* ====2. FRUS Paragraph Styles==== */
/* Approximate print volume styles */
p.sourceheadcenterboldbig {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 2px;
}
p.sourcearchiveboldbig {
    font-weight: bold;
    font-size:1.12em;
}
p.sourceparagraphspaceafter {
    padding: 4px 0 0 0;
}
p.sourceparagraphfullindent {
    margin-left: 20px;
}
p.sourceparagraphtightspacing {
    line-height: 1em;
}
p.sourceparagraphbibliography {
    padding-left: 4em;
}
ul.sourceparagraphbibliography {
    padding-left: 10em;
}
div.tei-dateline {
    text-align: right;
}
p.center {
    text-align:center
}
p.right {
    text-align: right
}
p.flushleft {
    text-align: left;
}
div.tei-closer {
    text-align: right;
}
div.tei-closer div[class^="tei-signed"],
div.tei-closer div[class*=" tei-signed"] {
    font-weight: bold
}
div.tei-closer div[class^="tei-signed"] em
div.tei-closer div[class*=" tei-signed"] em {
    font-weight: normal;
    font-style: italic;
}
p.sectiontitleital {
    font-style: italic;
    margin-top: 2em;
}
p.sectiontitlebold {
    font-weight: bold;
    margin-top: 2em;
}
span.strikethrough {
	text-decoration:line-through
}

/* ====3. FRUS Footnote Styles ==== */
small {
    font-size: smaller;
}
/* sup is used for footnote reference numbers */
sup {
    vertical-align: super;
    font-size: smaller;
    line-height: 0em;
}
/* prevents sourcenotes from inheriting bold styling of document titles */
div.footnotes, div.footnotes p {
    font-weight: normal;
    font-size: .973em;
}
hr {
    background: #ddd;
    color: transparent;
    clear: both;
    float: none;
    width: 100%;
    height: 0.1em;
    margin: 0 0 1.45em;
    border:none;
}
hr.space {
    background: #fff;
    color: transparent;
}

/* ====4. FRUS List & Index Styles ==== */
/* FRUS lists by default have no bullets.
   Whereas HTML typically asserts list indentation as a ul property, we do it as a li property.
   This allows us to move some lists leftward help with tei:list/tei:head */
blockquote { 
    padding-left: 2em; 
    margin-left: 0 
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
li {
    padding-left: 1em;
    text-indent: -1em; 
}
ul.bulleted {
    list-style-type: disc;
    margin-left: 2em;
}
ul.bulleted li {
    padding-left: 0em;
    margin-left: 0em;
    text-indent: 0em;
    padding-bottom: .75em;
}
/* Persons, Terms, and Index lists are flush left, and hanging lines are indented */
#sources li, #persons li, #terms li, #index li, #table-of-contents li {
    padding-left: 1em;
    text-indent: -1em;
}
ul {
    list-style-type: none;
}
/* give TOC a little extra vertical space*/
#table-of-contents li{
    padding-top: .2em;
    padding-bottom: .2em;
}
/* "Subject" lists are small caps with space below */
ul.subject {
    font-size: .9em;
    margin-left: 0;
}
ul.sub-list {
    font-size: 1em;
}
li > ul {
/*    margin-inline-start: -2em;*/
}
ul.subject li {
    text-indent: -4em;
    padding-left: 4em;
}
ul.subject li.subjectallcaps {
    text-indent: 0;
    padding-left: 0;
    font-variant: small-caps;
    /*margin-inline-start: -2em;*/
}
/* for 1952-54 subjects - TODO: test once 1st volume is received */
li.subjectflushleft {
    padding-bottom: 1em;
}
ul.flushleft li.subjectallcaps,
ul.subject li ul.sub-list {
    padding-bottom: 1em;
}
li.sub-list ul {
    padding-bottom: 1em;
}
p.subjectallcaps {
    font-size: smaller;
    font-variant: small-caps;
}
p.subjectentry {
    padding: 0 0 0 30px;
    font-size: smaller;
    margin: 0
}
.bulleted {
    list-style-type: disc;
    padding-left: 1em;
}

/* ====5. Bibliographies ==== */
ul.bibl {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
ul.bibl li {
    padding-left: 2em;
    text-indent: -2em;
}
/* ====6. Tables ==== */
td.label {
    font-weight: bold;
}
tr.label {
    font-weight: bold;
}

/* ====7. Links ==== */
/* show icon for external links */
a[href ^='http://'] {
    padding-right: 13px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC") no-repeat scroll right center transparent;
}